<!--Header-->
<div style="margin-bottom:30px">
	<h1>New Game</h1>
</div>
<!--Body-->
<%= simple_form_for @game do |f| %>
	<!--Name-->
	<%= f.input :name, required: true, input_html: { :autocomplete => "off" } %> 
	<!--Ref-->
	<%= f.input :user_id, label: "Game Admin", required: true, collection: @users, prompt: "Select Game Admin", input_html: {  } %>
	<!--Pass Code-->
	<%= f.input :pass_code, required: true, input_html: { :autocomplete => "off", type: "number" } %>
	<!--Map-->
	<%= f.input :map_id, required: true, collection: @maps, prompt: "Select Map", input_html: { onChange: "mapSelect(this.value);" } %>
	<!--overlay-->
	<div style="margin-bottom:10px; visibility: hidden" class="hidden">
		<label>Overlay:</label>
		<div><%= f.file_field :image, required: true %></div>
	</div>
	<div id="details">
	</div>
	<!--submit button-->
  	<div> <%= f.button :submit, :id => "submit", :class =>"btn", :style =>"margin-top:20px" %> </div>
<% end %>
<script>
function mapSelect(mapID){
	if (mapID != ""){
		if (document.getElementById("details").firstChild){
			var x = document.getElementById("details").firstChild
			x.remove()
		}
		$.post( "/maps/getMapInfo", { mapID: mapID })
	  	.done(function( data ) {
	  		$(".hidden").show()
	  		$(".hidden").css("visibility", "visible");
	  		var response = jQuery.parseJSON(data);
	  		var newdiv = document.createElement('div');
	  		// locations
	  		newdiv.innerHTML = "<div style='margin: 10px 0'>Challenges:</div>"
	  		for (i=0; i<response["locations"].length; i++){
	  			newdiv.innerHTML = newdiv.innerHTML + 
	  				"<span style='margin-right:10px'>"+response["locations"][i]+"</span>"+
		  			"<select class='select required combobox1' name='location[]'>"+
		  				"<option value='-1'>Select Challenge</option>"+
		  				"<%@challenges.each do |challenge|%>" +
		  					"<option value='<%= challenge.id %>'> <%= challenge.name %> </option>"+
		  				"<%end%>"+
		  			"</select></br>";
	 	  	}
	 	  	// teams
	  		newdiv.innerHTML = newdiv.innerHTML + "<div style='margin: 10px 0'>Teams:</div>"
    		for (i=0; i<response["team_count"]; i++){
    			newdiv.innerHTML = newdiv.innerHTML + 
    				"<span style='margin-right:10px'>Team "+(i+1)+"</span>"+	
    				"<input type='text' placeholder='Name' name='teamName[]' style='margin-right:10px'>"+
    				"<select class='select required combobox1 mySelect' name='teamColor[]'>"+
    					"<option value='-1'>Select Color</option>"+
    				"</select></br>";
    		}
    		document.getElementById("details").appendChild(newdiv);
    		for (j=0; j<response["colors"].length; j++){
				$('.mySelect')
     				.append($("<option></option>")
     				.attr("value", response["colors"][j])
     				.text(response["colors"][j])); 
			}
	  	});
	}else{
		var x = document.getElementById("details").firstChild
		x.remove()
		$(".hidden").hide()
		$(".hidden").css("visibility", "hidden");
	}
}
$(".hidden").hide()
</script>