<!--Header-->
<div style="margin-bottom:30px">
	<h1><%= @challenge.name %></h1>
</div>
<!--Body-->
<div>
	<table class="table table-hover" style="margin-bottom:0">
		<thead>
			<tr>
				<th class="span6" style="color:#444">Property</th> 
				<th class="span6" style="color:#444">Value</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Name</td>
				<td><%=@challenge.name%></td>
			</tr>
			<tr>
				<td>Points</td>
				<td><%=@challenge.points%></td>
			</tr>
			<tr>
				<td>Minimum Number of Players</td>
				<td><%=@challenge.player_count%></td>
			</tr>
			<tr>
				<td>Icon</td>
				<td><a href="<%=@challenge.image.url%>" target="_blank">view image</a></td>
			</tr>
			<tr>
				<td>Description</td>
				<td><%=@challenge.description%></td>
			</tr>
		</tbody>
	</table>
</div>
<%= link_to "Back", challenges_path, :class => "btn", :style => "margin: 20px 0"%>
<%= link_to "Edit", edit_challenge_path(@challenge), :class => "btn btn-primary", :style => "margin: 20px 5px"%>
	

